.question{
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.5);
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.4em;
}
.question--obr{
    width: 80%;
    height: 60%;
    margin: 0.5em;
}
.question--input{
    border: 0;
    width: 90%;
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic';
}
.question--input::placeholder{
    color: black;
}
.question--obr--add{
    width: 60%;
    height: 60%;
    margin: 0.5em;
}
.question--obr--add:hover{
    cursor: pointer;
    transform: translateY(2px);
}
.border{
    text-align: center;
    width: 90%;
    border-radius: 10px;
    background-color: rgb(85, 175, 228, 0.4);
}
.question--obr--border{
    width: 80%;
    height: 60%;
    margin: 0.5em;
    background-color: rgb(85, 175, 228, 0.4);
    padding: .5em;
}
.close--button--pictext{
    text-align: end;
    width: 90%;
    margin: 0;
    padding: 0;
}
.question--add{
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.5);
    width: 130px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.4em;
}
.question--obr--add--add{
    width: 70%;
    height: 60%;
    margin: 0 .5em 0 .5em;
}
.question--obr--add--add:hover{
    cursor: pointer;
    transform: translateY(2px);
}
.close--button:hover{
    cursor: pointer;
    transform: translateY(2px);
}